AIRNOW_HOURLY_BASE_URL=https://files.airnowtech.org
AIRNOW_HOURLY_PATH_TEMPLATE=/airnow/{year}/{ymd}/HourlyAQObs_{yyyymmddhh}.dat
AIRNOW_HOURLY_TIMEOUT_SECONDS=45
AIRNOW_HOURLY_MAX_RETRIES=3
AIRNOW_HOURLY_RETRY_BACKOFF_SECONDS=1.5
AIRNOW_HOURLY_RETRY_BACKOFF_MULTIPLIER=2.0
AIRNOW_HOURLY_MIN_REQUEST_INTERVAL_SECONDS=0.4
AIRNOW_HOURLY_MAX_HOURS_PER_RUN=168
AIRNOW_HOURLY_MAX_FILES_PER_RUN=168
AIRNOW_HOURLY_MAX_ROWS_PER_FILE=250000
AIRNOW_HOURLY_MAX_RETRY_AFTER_SECONDS=120
AIRNOW_HOURLY_USER_AGENT=airnow-hourly-obs-fetch/1.0
